{{> head }}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Son Goku</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officia quaerat praesentium quo natus, voluptates a quidem tenetur sequi et cupiditate placeat laborum ut nemo assumenda impedit minus, iusto in!</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/goku.png" alt="..." class="img-thumbnail">
    </div>
</div>


{{> footer }}